onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=es5-ext
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=vue-demi
allowBuilds[]=@parcel/watcher
allowBuilds[]=@tailwindcss/oxide
allowBuilds[]=core-js
allowBuilds[]=es5-ext
allowBuilds[]=esbuild
allowBuilds[]=vue-demi